<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar tragos</title>
  </head>

  <body>
    <h2>Lista de tragos</h2>

    {% for c in trago %}
        <div>
          <p>Id: {{c.id}}</p>
            <p>Nombre: {{ c.nombre }} </p>
            <p>Tipo: {{ c.tipo }} </p>
            <p>Grados: {{ c.grados }} </p>
        </div>
        <br>
    {% endfor %}

  </body>
</html>
